.container-filtro ul li {
  background-color: var(--cinza-claro);
  font-size: 18px;
  color: var(--cinza-escuro);
  padding: 0.25em 0.5em;
  border-radius: 4px;
}

.container-filtro {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
  }
  button {
    border: none;
    background-color: transparent;
    color: var(--cinza-medio);
    font-size: 18px;
  }
}

.ordenacao {
  display: flex;
  justify-content: center;
  font-family: var(--fonte);
  font-size: 22px;
  color: var(--cinza-medio);
  gap: 28px;
  margin-top: 56px;
  .ativo {
    color: var(--verde-destaque);
    text-decoration: underline;
  }
}
